@import 'variables';
.badge {
  color: $badgeColor;
  @extend %position-relative;
  @extend %z-index-1;
  &:before {
    background: $badgeBackground;
    @extend %border-1;
    @extend %border-radius-50;
    @extend %content;
    @extend %display-block; 
    height: $badgeSize;
    @extend %center-absolute;
    width: $badgeSize;
    @extend %z-index--1;
  }
}
